.renminbi {
  font-size: 24px;
  color: #333;
  margin: 20px 0px 0px 20px;
}

.yue {
  font-size: 24px;
  color: #333;
  padding: 0px;
  margin: 0px 0px 5px 30px;
}
.yuenumber {
  font-size: 30px;
  color: #474e5d;
  font-weight: bold;
}

.inputmoney {
  height: 40px;
}

.fourbtn {
  margin: 7.5px;
  color: #474e5d;
  border: 1px solid rgb(237,237,237);
  background: #fff;
  width: 150px;
}

.fourbtn:hover, .fourbtn:focus{
  border: 1px solid #4abbfa;
}

.center {
  text-align: center;
}

.compact {
  margin: 0px;
  width: 0px;
  height: 0px;
}
.redfont {
  color: #e25139;
}