.header {
  font-size: 20px;
  font-weight: bold;
  color: #888888;
  background-color: #fff;
  text-align: center;
  /*border-width: 1px;*/
  /*border-style: outset;*/
  /*border-color: #9d9d9d;*/
  padding: 15px 0px;
}
.searchlable{
  margin: 0px;
  font-size: 35px;
  height: 50px;
}
.searchtext{
  height: 50px;
  font-size: 35px;
}
.searchbtn{

}

.iconStyle{
  width: 30px;
  height: 30px;
}

.center{
  text-align: center;
}