.text-title{
    font-size: 18px;
    color: #333333;
    font-weight: lighter;
}

.text-content{
    font-size: 14px;
    color:#999999;
}

.ele-layout{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-control{
    margin-top: 10px;
}